.footer-custom {
  color: white;
  text-align: center;
  padding-top: 5%;

  p {
    font-size: 1.1rem;
  }
}

.footer-icon {
  font-size: 1.3rem;
  color: white;

  &:hover {
    color: #dbdbdb;
  }
}
