.footer-custom {
  color: white;
  text-align: center;
  padding-top: 5%;

  p {
    font-size: 1.1rem;
    color: hsl(0, 0%, 98%);
  }
}

.social-icons {
  margin: 0 auto 3rem;

  &:hover {
    color: #dbdbdb;
  }
}

@media screen and (min-width: 769px) {
  footer .social-icons {
    margin: 0 auto 3.5rem;
  }
}

footer .social-icons a.button {
  background-color: transparent;
  color: #fff;
  border-radius: 100%;
  margin: 0 0.2rem;
  height: 47px;
  width: 47px;
  border: 2px solid rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 769px) {
  footer .social-icons a.button {
    margin: 0 0.8rem;
  }
}

footer .social-icons a.button.is-medium {
  font-size: 1.05rem;
}

@media screen and (min-width: 769px) {
  footer .social-icons a.button.is-medium {
    font-size: 1.18rem;
  }
}

footer .social-icons a.button .icon.is-small {
  height: 1.4em;
  width: 1.4em;
}

footer .social-icons a.button:hover {
  background: #fff;
  color: black;
  border: 2px solid #fff;
}

footer .copyright {
  opacity: 0.7;
}

footer .copyright .icon {
  margin-top: -1px;
  margin-left: 1px;
}
