// Set consistent theme typography
body {
  font-family: 'Avenir', sans-serif;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

p {
  font-size: 1.25rem;
  font-weight: normal;
  color: hsl(0, 0%, 55%);

  b {
    color: hsl(0, 0%, 29%);
  }
}

hr {
  width: 50px;
  height: 6px;
  margin-top: -5px;
  margin-left: auto;
  margin-right: auto;
  background-color: hsl(0, 0%, 86%);
}
